[submodule "peripheral/dbg"]
	path = peripheral/dbg
	url = https://github.com/PacoReinaCampo/MPSoC-DBG.git
[submodule "peripheral/msi"]
	path = peripheral/msi
	url = https://github.com/PacoReinaCampo/MPSoC-MSI.git
[submodule "peripheral/spram"]
	path = peripheral/spram
	url = https://github.com/PacoReinaCampo/MPSoC-SPRAM.git
[submodule "peripheral/uart"]
	path = peripheral/uart
	url = https://github.com/PacoReinaCampo/MPSoC-UART.git
